@model user_auth.ViewModels.ProductTypeList
@using user_auth.Models;

<h2>Product Types</h2>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary btn-sm">View All Products</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Category</th>
            <th>Amount of Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductType type in Model.ProductTypes)
        {
            <tr>
                <td><a asp-controller="ProductSubTypes" asp-action="List" asp-route-id="@type.ProductTypeId">@Html.DisplayFor(model => type.Label)</a></td>
                <td>(@Html.DisplayFor(model => type.Quantity))</td>
            </tr>
        }
    </tbody>
</table>